<div id="content-title">
<h2>Are you sure?</h2>
</div>
<p>
Would you like to remove the meeting with <strong><%= h(@meeting.attendees) %></strong> on <strong><%= @meeting.meeting_date.to_date.to_s(:long) %></strong>?
</p>
<%= button_to "Yes!", :action => "destroy", :meeting_id => @meeting.id %> or <%= link_to "no, I've changed my mind", :action => "index" %>
</div>