<h2>About Represent</h2>
<p>I developed Represent in my free time in 2008.</p>
<p>I wanted to build a social networking site and contribute some open source software to the education community.</p>
<p>It is provided 
<p><%= link_to "&lt; back to the homepage", { :controller => "home", :action => "index" } %></p>