<div style="font-size:30px;line-height:120%;margin-top:-70px;font-family:arial, helvetica, sans-serif">
<p>Represent is an e-portfolio</p>
<p style="color:#000">Built in Rails</p>
<p>Designed for use in education</p>
<p style="color:#000">Fully open source</p>
</div>
<div style="font-size:18px;line-height:110%;margin-top:30px;font-family:arial, helvetica, sans-serif">
<p>Blog. Record and reflect. Save all your experience. Link to anywhere.</p>
<p style="color:#000">Publish to your network of contacts. Show it to the world. Make it private.</p>
</div>
