<div id="content-title">
<h2>Are you sure?</h2>
</div>
<p>
Would you like to delete this achievement <strong><%= truncate(@achievement.description, 100) %></strong>?
</p>
<%= button_to "Yes!", :action => "destroy", :achievement_id => @achievement.id %> or <%= link_to "no, I've changed my mind", :action => "index" %>
</div>